# requirements.txt

# Framework pour l'API
fastapi
uvicorn

# Bibliothèques pour le modèle de langage
torch --index-url https://download.pytorch.org/whl/cu121
transformers
accelerate
deepspeed
peft

# Bibliothèques pour la manipulation et l'évaluation des données
datasets
pandas
scikit-learn
matplotlib
